= simple_form_for @project, html: { multipart: true } do |f|
    = f.collection_select :category_id, Category.all, :id, :name, { promt: "Choose a Category" }
    = f.input :image
    = f.input :title
    = f.input :url
    = f.button :submit