%div.wrapper
    %div.container-fluid
        %div.row
            %div.col-md-3.side-bar
                %ul.nav.nav-pills.nav-stacked
                    %li= link_to 'Home', root_path
                    - Category.all.each do |category|
                        %li= link_to category.name, projects_path(category: category.name)
            %div.col-md-9
                %div.row
                    - @projects.each do |p|     
                        .col-sm-6.col-md-4
                            .thumbnail
                                = image_tag p.image.url(:medium)
                                %div.caption
                                    %h3= p.title
                                    = link_to "See More", p, class: "btn btn-default"
                                    