!!!
%html
  %head
    %title Fifapp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav.navbar.navbar-default.main-navigation
        %div.container-fluid.main-navigation
          = link_to '_fifart.net', root_path, class: "navbar-brand"
          %ul.nav.navbar-nav
            %li= link_to 'Home', root_path
            %li= link_to 'Add Project', new_project_path
    %div.container.main
      = yield